<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Markdig" version="0.16.0" targetFramework="net471" />
  <package id="Microsoft.Data.Sqlite.Core" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="3.0.0-preview3-27503-5" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Abstractions" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Analyzers" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Relational" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.EntityFrameworkCore.Sqlite.Core" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Abstractions" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Caching.Memory" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.DependencyModel" version="3.0.0-preview3-27503-5" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Options" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Microsoft.Extensions.Primitives" version="3.0.0-preview3.19153.1" targetFramework="net471" />
  <package id="Newtonsoft.Json" version="12.0.2-beta1" targetFramework="net471" />
  <package id="OpenTK" version="3.0.1" targetFramework="net471" />
  <package id="Remotion.Linq" version="2.2.0" targetFramework="net471" />
  <package id="Rg.Plugins.Popup" version="1.1.5.188" targetFramework="net471" />
  <package id="SkiaSharp" version="1.68.0" targetFramework="net471" />
  <package id="SkiaSharp.Views" version="1.68.0" targetFramework="net471" />
  <package id="sqlite-net-pcl" version="1.6.258-beta" targetFramework="net471" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.core" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.linux" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.osx" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.lib.e_sqlite3.v110_xp" version="1.1.13" targetFramework="net471" />
  <package id="SQLitePCLRaw.provider.e_sqlite3.net45" version="1.1.13" targetFramework="net471" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net471" />
  <package id="System.Collections.Immutable" version="1.6.0-preview3.19128.7" targetFramework="net471" />
  <package id="System.ComponentModel.Annotations" version="4.6.0-preview3.19128.7" targetFramework="net471" />
  <package id="System.Diagnostics.DiagnosticSource" version="4.6.0-preview3.19128.7" targetFramework="net471" />
  <package id="System.Drawing.Common" version="4.5.0" targetFramework="net471" />
  <package id="System.Interactive.Async" version="4.0.0-preview.1.build.745" targetFramework="net471" />
  <package id="System.Linq.Async" version="4.0.0-preview.1.build.745" targetFramework="net471" />
  <package id="System.Memory" version="4.5.2" targetFramework="net471" />
  <package id="System.Numerics.Vectors" version="4.6.0-preview3.19128.7" targetFramework="net471" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.6.0-preview3.19128.7" targetFramework="net471" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net471" />
  <package id="System.Text.Encoding.CodePages" version="4.5.1" targetFramework="net471" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0-preview.18571.3" targetFramework="net471" />
  <package id="Xamarin.Essentials" version="1.1.0" targetFramework="net471" />
  <package id="Xamarin.Forms" version="4.0.0.346134-pre9" targetFramework="net471" />
  <package id="Xamarin.Forms.Platform.GTK" version="4.0.0.346134-pre9" targetFramework="net471" />
  <package id="Xamarin.Forms.Visual.Material" version="4.0.0.346134-pre9" targetFramework="net471" />
  <package id="XamiTextSharpLGPLv2" version="1.0.0" targetFramework="net471" />
  <package id="YamlDotNet" version="6.0.0" targetFramework="net471" />
</packages>