@import url('https://fonts.googleapis.com/css?family=UnifrakturCook:700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif&display=swap');
pre {
	font-family: 'Noto Serif', serif;
}
body {
	font-family: 'Noto Serif', serif;
	margin: 0; 
	padding: 0;
}
h1 {
	font-family: 'UnifrakturCook', cursive;
}
#range {
	position: fixed; top: 0; left: 0; z-index: 2; visibility: hidden;
}
.region:hover {
	fill: #ffffff;
	opacity: .5;
}