<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nioux.aidedejeu" android:installLocation="preferExternal" android:versionCode="33" android:versionName="1.33">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="28" />
	<application android:label="Beta Haches &amp; Dés"></application>
</manifest>