<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="chrome=1">
        <title>{{ site.title }}</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/style.css">
    </head>
    <body>
        <header role="banner" id="banner">
            <h1> {{ site.title }}</h1>
        </header>
        <main role="main" id="main" class="phb">
        {{ content }}
        </main>
        <footer role="contentinfo" id="contentinfo">
        </footer>
    </body>
</html>
